/*
Bottom Navigation
 */

.bottom-navigation-wrapper {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.menu-container li{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    list-style: none;
    padding: 0px 20px 0px 20px;
    opacity: 0.5;
}

.menu-container li:hover{
    opacity: 1;
    transition: all 0.3s;
}

.menu-container a{
    text-decoration: none;
}