// For all functions, mixins etc

* {
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: 'Crimson Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: $appear-animation;
}

a, a:focus, a:hover {
  color: $primary-color !important;
  text-decoration: none !important;
  text-underline: none !important;
}


@mixin  transition {
  /** Transitions **/
  -webkit-transition:$transition;
  -moz-transition:$transition;
  -ms-transition: $transition;
  transition:$transition;
}

/*
Underline Text
 */

@mixin underline-text($color) {
  &::before {
    display: inline-block;
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 100px;
    background: $color ;
    @include transition
  }

  &:hover::before {
    width: 100px;
  }
}

.alt {
  @include underline-text($primary-color);
  cursor: pointer;
  line-height: 1;
  position: relative;
  font-style: italic;
  animation: lights 1s ease-in-out infinite alternate;
  border-bottom: 0.001px solid $primary-color;

}


