// for all the components


/*
Bottom peak styling
 */
@mixin bottom-peak-container {
  position: absolute;
  bottom: -23%;
  left: 50;
  right: 50;
  height: 35vh;
  width: 35vh;
  border-radius: 50%;
}

.bottom-peak-container-primary{
  @include bottom-peak-container;
  background: $primary-color;
}

.bottom-peak-container-secondary{
  @include bottom-peak-container;
  background: $secondary-color;
}


/*
Current Date Widget
 */

.current-date-container {
  color: $primary-color;
  position: absolute;
  right:10%;
  top: 5%;
}