// for all the components


/*
Bottom peak styling
 */
@mixin bottom-peak-container($color, $color2) {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-radius: 0%;
  clip-path: circle(10% at 50% 105%);
  transition: $transition;
  cursor: pointer;
  z-index: 10000;
  animation: heartbeat .5s infinite alternate;
  background: $color;

  .menu {
    position: absolute;
    left: 20%;
    bottom: 30%;
    transition: all 0.5s ease-in-out;

    h1 {
      color: $color2;
      font-size: $secondary-font-size;
      transition: $transition;

      &:hover h3 {
        font-size: $tertiary-font-size;
        color: $color2;
      }

      &:hover{
        color: $color2;
      }

    }

    h3 {
      font-size: 0.1px;
      color: $color;
      font-style: italic;
      transition: $transition;
    }

  }

  .quote {
    width: 30%;
    line-height: 1;
    font-size: $primary-font-size;
    color: $color2;
    font-weight: bold;
    position: absolute;
    right: 20%;
    bottom: 30%;

    author {
      font-size: $tertiary-font-size;
      font-style: italic;
    }
  }

}

.bottom-peak-container-primary{
  @include bottom-peak-container($primary-color, $secondary-color);

}

.bottom-peak-container-secondary{
  @include bottom-peak-container($secondary-color, $primary-color);
}

.bottom-peak-container-primary-scrolled, .bottom-peak-container-primary:hover{
  @include bottom-peak-container($primary-color, $secondary-color);
  background: $primary-color;
  animation: none;
  clip-path: circle(100%);
}

.bottom-peak-container-secondary-scrolled, .bottom-peak-container-secondary:hover{
  @include bottom-peak-container($secondary-color, $primary-color);
  background: $secondary-color;
  animation: none;
  clip-path: circle(100%);
}



/*
Current Date Widget
 */

@mixin current-date-container {
  color: $primary-color;
  font-size: $tertiary-font-size;
  position: absolute;
  right:10%;
  top: 5%;
}

.current-date-container-primary{
  @include current-date-container;
}

.current-date-container-secondary {
  @include current-date-container;
  color: $secondary-color;
}

/*
Scarlet Logo
 */

@mixin logo-container {
  position: absolute;
  right: 10%;
  bottom: 5%;
  cursor: pointer;

  h2 {
    font-size: $secondary-font-size;
    font-weight: bold;
  }
}

.logo-container-primary {
  @include logo-container;
  color: $primary-color;
  h2 {
    color: $primary-color;
  }
}

.logo-container-secondary {
  @include logo-container;
  color: $secondary-color;
  h2 {
    color: $secondary-color;
  }
}

/*
Social Links
 */

@mixin social-links-container {
  position: absolute;
  left: 10%;
  top: 5%;
  cursor: pointer;

  a {
    color: $inactive-primary-color;
    font-size: $tertiary-font-size;
    font-weight: bold;
    transition: $transition;

    &:hover {
      color: $primary-color;
    }

  }
}

.social-links-container-primary {
  @include social-links-container;
}

.social-links-container-secondary {
  @include social-links-container;
  a {
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: $secondary-color;
    }
  }
}

/*
Back Button
 */

@mixin back-container($color) {
  position: absolute;
  left: 20%;
  bottom: 20%;
  z-index: 1000000;

  h2 {
    font-size: $tertiary-font-size;
    color: $color;
    font-weight: bold;
    transition: $transition;


  }


  h2:hover {
    cursor: pointer;
    color: $color;
  }
}

// primary background requires secondary color since the close button appears in alt states
.back-container-primary {
  @include back-container($secondary-color)
}

// secondary background requires primary color since the close button appears in alt states
.back-container-secondary {
  @include back-container($primary-color)
}

/*
Call To Action
 */

@mixin call-to-action-container {
  position: absolute;
  left: 10%;
  bottom: 5%;
  cursor: pointer;

  h2 {
    font-size: $secondary-font-size;
    color: $inactive-primary-color;
    font-weight: bold;
    transition: $transition;
  }

  h2:hover {
    color: $primary-color
  }
}

.call-to-action-container-primary{
  @include call-to-action-container;
}

.call-to-action-container-secondary {
  @include call-to-action-container;

  h2 {
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: $secondary-color;
    }

  }
}



/*
Cursor
 */

@mixin cursor(){
  position: absolute;
  width: 50px;
  top: 0;
  left:0;
  border-radius: 50%;
  height: 50px;
}

.cursor-primary{
  @include cursor;
  background: $primary-color;
}

.cursor-secondary {
  @include cursor;
  background: $secondary-color;
}