// for all the variables

:root{
  font-size: 16px;
}

$scarlet: #ff2400;
$primary-color: #ff2400;
$secondary-color: #fff;
$font-system: 'Crimson Text', sans-serif;
$primary-font-size: 3.43rem;
$secondary-font-size: 2.124rem;
$inactive-opacity: 0.2;