// for all the variables

:root{
  font-size: 16px;
}

$scarlet: #ff2400;
$primary-color: #ff2400;
$secondary-color: #fff;
$font-system: 'Crimson Text', sans-serif;
$primary-font-size: 3.43rem;
$secondary-font-size: 2.124rem;
$tertiary-font-size: 1.31rem;
$quaternary-font-size: 1.2rem;
$inactive-primary-color: rgba(255, 36, 0, 0.4);
$transition: all 0.5s ease-in-out;
$appear-animation: appear 1s ease-in-out;

@media (max-width: 640px) {
  :root{
    font-size: 10px;
    background: $primary-color !important;
  }
}


@keyframes appear {
  from {
    transform: translateY(10px);
    opacity: 0.2;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

// Heartbeat Animation
@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scaleY(1.01);
  }
}

// blinking lights
@keyframes lights {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}