:root {
  font-size: 16px;
}

@keyframes appear {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scaleY(1.01);
  }
}
@keyframes lights {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
* {
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: appear 0.3s ease-in-out;
}

a, a:focus {
  color: #ff2400;
  text-decoration: none;
}

a:hover {
  color: #ff2400;
  text-decoration: none;
}

.alt {
  cursor: pointer;
  line-height: 1;
  font-style: italic;
  animation: lights 1s ease-in-out infinite alternate;
  border-bottom: 0.001px solid #ff2400;
}

.alt:hover {
  border-bottom: 5px solid #ff2400;
}

/*
Bottom peak styling
 */
.bottom-peak-container-primary {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-radius: 0%;
  clip-path: circle(10% at 50% 105%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10000;
  animation: heartbeat 0.5s infinite alternate;
  background: #ff2400;
}
.bottom-peak-container-primary .menu {
  position: absolute;
  left: 20%;
  bottom: 30%;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-primary .menu h1 {
  color: #fff;
  font-size: 2.124rem;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-primary .menu h1:hover h3 {
  font-size: 1.31rem;
  color: #fff;
}
.bottom-peak-container-primary .menu h1:hover {
  color: #fff;
}
.bottom-peak-container-primary .menu h3 {
  font-size: 0.1px;
  color: #ff2400;
  font-style: italic;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-primary .quote {
  width: 30%;
  line-height: 1;
  font-size: 3.43rem;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 20%;
  bottom: 30%;
}
.bottom-peak-container-primary .quote author {
  font-size: 1.31rem;
  font-style: italic;
}

.bottom-peak-container-secondary {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-radius: 0%;
  clip-path: circle(10% at 50% 105%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10000;
  animation: heartbeat 0.5s infinite alternate;
  background: #fff;
}
.bottom-peak-container-secondary .menu {
  position: absolute;
  left: 20%;
  bottom: 30%;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-secondary .menu h1 {
  color: #ff2400;
  font-size: 2.124rem;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-secondary .menu h1:hover h3 {
  font-size: 1.31rem;
  color: #ff2400;
}
.bottom-peak-container-secondary .menu h1:hover {
  color: #ff2400;
}
.bottom-peak-container-secondary .menu h3 {
  font-size: 0.1px;
  color: #fff;
  font-style: italic;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-secondary .quote {
  width: 30%;
  line-height: 1;
  font-size: 3.43rem;
  color: #ff2400;
  font-weight: bold;
  position: absolute;
  right: 20%;
  bottom: 30%;
}
.bottom-peak-container-secondary .quote author {
  font-size: 1.31rem;
  font-style: italic;
}

.bottom-peak-container-primary-scrolled, .bottom-peak-container-primary:hover {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-radius: 0%;
  clip-path: circle(10% at 50% 105%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10000;
  animation: heartbeat 0.5s infinite alternate;
  background: #ff2400;
  background: #ff2400;
  animation: none;
  clip-path: circle(100%);
}
.bottom-peak-container-primary-scrolled .menu, .bottom-peak-container-primary:hover .menu {
  position: absolute;
  left: 20%;
  bottom: 30%;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-primary-scrolled .menu h1, .bottom-peak-container-primary:hover .menu h1 {
  color: #fff;
  font-size: 2.124rem;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-primary-scrolled .menu h1:hover h3, .bottom-peak-container-primary:hover .menu h1:hover h3 {
  font-size: 1.31rem;
  color: #fff;
}
.bottom-peak-container-primary-scrolled .menu h1:hover, .bottom-peak-container-primary:hover .menu h1:hover {
  color: #fff;
}
.bottom-peak-container-primary-scrolled .menu h3, .bottom-peak-container-primary:hover .menu h3 {
  font-size: 0.1px;
  color: #ff2400;
  font-style: italic;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-primary-scrolled .quote, .bottom-peak-container-primary:hover .quote {
  width: 30%;
  line-height: 1;
  font-size: 3.43rem;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 20%;
  bottom: 30%;
}
.bottom-peak-container-primary-scrolled .quote author, .bottom-peak-container-primary:hover .quote author {
  font-size: 1.31rem;
  font-style: italic;
}

.bottom-peak-container-secondary-scrolled, .bottom-peak-container-secondary:hover {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-radius: 0%;
  clip-path: circle(10% at 50% 105%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10000;
  animation: heartbeat 0.5s infinite alternate;
  background: #fff;
  background: #fff;
  animation: none;
  clip-path: circle(100%);
}
.bottom-peak-container-secondary-scrolled .menu, .bottom-peak-container-secondary:hover .menu {
  position: absolute;
  left: 20%;
  bottom: 30%;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-secondary-scrolled .menu h1, .bottom-peak-container-secondary:hover .menu h1 {
  color: #ff2400;
  font-size: 2.124rem;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-secondary-scrolled .menu h1:hover h3, .bottom-peak-container-secondary:hover .menu h1:hover h3 {
  font-size: 1.31rem;
  color: #ff2400;
}
.bottom-peak-container-secondary-scrolled .menu h1:hover, .bottom-peak-container-secondary:hover .menu h1:hover {
  color: #ff2400;
}
.bottom-peak-container-secondary-scrolled .menu h3, .bottom-peak-container-secondary:hover .menu h3 {
  font-size: 0.1px;
  color: #fff;
  font-style: italic;
  transition: all 0.5s ease-in-out;
}
.bottom-peak-container-secondary-scrolled .quote, .bottom-peak-container-secondary:hover .quote {
  width: 30%;
  line-height: 1;
  font-size: 3.43rem;
  color: #ff2400;
  font-weight: bold;
  position: absolute;
  right: 20%;
  bottom: 30%;
}
.bottom-peak-container-secondary-scrolled .quote author, .bottom-peak-container-secondary:hover .quote author {
  font-size: 1.31rem;
  font-style: italic;
}

/*
Current Date Widget
 */
.current-date-container-primary {
  color: #ff2400;
  font-size: 1.31rem;
  position: absolute;
  right: 10%;
  top: 5%;
}

.current-date-container-secondary {
  color: #ff2400;
  font-size: 1.31rem;
  position: absolute;
  right: 10%;
  top: 5%;
  color: #fff;
}

/*
Scarlet Logo
 */
.logo-container-primary {
  position: absolute;
  right: 10%;
  bottom: 5%;
  cursor: pointer;
  color: #ff2400;
}
.logo-container-primary h2 {
  font-size: 2.124rem;
  font-weight: bold;
}
.logo-container-primary h2 {
  color: #ff2400;
}

.logo-container-secondary {
  position: absolute;
  right: 10%;
  bottom: 5%;
  cursor: pointer;
  color: #fff;
}
.logo-container-secondary h2 {
  font-size: 2.124rem;
  font-weight: bold;
}
.logo-container-secondary h2 {
  color: #fff;
}

/*
Social Links
 */
.social-links-container-primary {
  position: absolute;
  left: 10%;
  top: 5%;
  cursor: pointer;
}
.social-links-container-primary a {
  color: rgba(255, 36, 0, 0.4);
  font-size: 1.31rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.social-links-container-primary a:hover {
  color: #ff2400;
}

.social-links-container-secondary {
  position: absolute;
  left: 10%;
  top: 5%;
  cursor: pointer;
}
.social-links-container-secondary a {
  color: rgba(255, 36, 0, 0.4);
  font-size: 1.31rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.social-links-container-secondary a:hover {
  color: #ff2400;
}
.social-links-container-secondary a {
  color: rgba(255, 255, 255, 0.5);
}
.social-links-container-secondary a:hover {
  color: #fff;
}

/*
Back Button
 */
.back-container-primary {
  position: absolute;
  left: 20%;
  bottom: 20%;
  z-index: 1000000;
}
.back-container-primary h2 {
  font-size: 1.31rem;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.back-container-primary h2:hover {
  cursor: pointer;
  color: #fff;
}

.back-container-secondary {
  position: absolute;
  left: 20%;
  bottom: 20%;
  z-index: 1000000;
}
.back-container-secondary h2 {
  font-size: 1.31rem;
  color: #ff2400;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.back-container-secondary h2:hover {
  cursor: pointer;
  color: #ff2400;
}

/*
Call To Action
 */
.call-to-action-container-primary {
  position: absolute;
  left: 10%;
  bottom: 5%;
  cursor: pointer;
}
.call-to-action-container-primary h2 {
  font-size: 2.124rem;
  color: rgba(255, 36, 0, 0.4);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.call-to-action-container-primary h2:hover {
  color: #ff2400;
}

.call-to-action-container-secondary {
  position: absolute;
  left: 10%;
  bottom: 5%;
  cursor: pointer;
}
.call-to-action-container-secondary h2 {
  font-size: 2.124rem;
  color: rgba(255, 36, 0, 0.4);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.call-to-action-container-secondary h2:hover {
  color: #ff2400;
}
.call-to-action-container-secondary h2 {
  color: rgba(255, 255, 255, 0.5);
}
.call-to-action-container-secondary h2:hover {
  color: #fff;
}

/*
Cursor
 */
.cursor-primary {
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 50px;
  background: #ff2400;
}

.cursor-secondary {
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 50px;
  background: #fff;
}

.home-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.home-container .inner-container {
  display: block;
}
.home-container h1 {
  font-size: 3.43rem;
  color: #ff2400;
  font-weight: 800;
  line-height: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.home-container h3 {
  font-size: 1.31rem;
  font-style: italic;
  color: #ff2400;
}

/*
Studio Concept Styling
 */
.studio-concept-container, .studio-concept-container-active {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #ff2400;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  clip-path: circle(0% at 50% 50%);
  justify-content: center;
  align-items: center;
}
.studio-concept-container .content-wrapper, .studio-concept-container-active .content-wrapper {
  width: 60%;
}
.studio-concept-container .content-wrapper h1, .studio-concept-container-active .content-wrapper h1 {
  font-size: 3.43rem;
  color: white;
}
.studio-concept-container .content-wrapper p, .studio-concept-container-active .content-wrapper p {
  color: #fff;
  text-align: justify;
  font-size: 1.2rem;
}
.studio-concept-container .content-wrapper #full-circle, .studio-concept-container-active .content-wrapper #full-circle, .studio-concept-container .content-wrapper #partial-circle, .studio-concept-container-active .content-wrapper #partial-circle {
  height: 120px;
  width: 120px;
  margin: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 10px #AAA9A8;
}
.studio-concept-container .content-wrapper #partial-circle #full-circle, .studio-concept-container-active .content-wrapper #partial-circle #full-circle, .studio-concept-container .content-wrapper #partial-circle #partial-circle, .studio-concept-container-active .content-wrapper #partial-circle #partial-circle {
  margin-top: -20px;
  height: 100px;
  width: 100px;
  background: #ff2400;
  animation: circle-eye 1s ease-in-out infinite alternate;
  transition: all 0.5s ease-in-out;
}
.studio-concept-container .content-wrapper #partial-circle #full-circle:hover, .studio-concept-container-active .content-wrapper #partial-circle #full-circle:hover, .studio-concept-container .content-wrapper #partial-circle #partial-circle:hover, .studio-concept-container-active .content-wrapper #partial-circle #partial-circle:hover {
  margin: 10px;
  animation: none;
}
@keyframes circle-eye {
  from {
    margin-top: -10px;
  }
  to {
    margin-top: 30px;
  }
}

.studio-concept-container-active {
  clip-path: circle(100%);
  z-index: 10001;
  transition: all 0.5s ease-in-out;
}

/*
About Page CSS
 */
.page-container-primary {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff2400;
}
.page-container-primary h1 {
  font-size: 3.43rem;
  color: #fff;
  font-weight: 800;
  line-height: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.page-container-primary h3 {
  text-align: justify;
  font-size: 1.2rem;
  color: #fff;
}

.page-container-secondary {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.page-container-secondary h1 {
  font-size: 3.43rem;
  color: #ff2400;
  font-weight: 800;
  line-height: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.page-container-secondary h3 {
  text-align: justify;
  font-size: 1.2rem;
  color: #ff2400;
}

/*# sourceMappingURL=app.css.map */
