/*
Clients Page Styling
 */

.clients-container{
  @include page-container($primary-color, $secondary-color);

  .content-outer {

    .center-center {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: $secondary-color;
        font-weight: bold;
        font-size: $secondary-font-size;
      }

      h3 {
        font-size: $tertiary-font-size;
        font-style: italic;
      }

    }

    .client-list-wrapper .row {
      height: 600px;
      background: url("../../images/clients2.png") repeat top;
      background-size: cover;
      box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
      animation: client-flow 150s infinite linear;
    }
  }

  //local animation
  @keyframes client-flow {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 10000%;
    }
  }
}
