// styling home components

.home-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

  .inner-container {
    display: block;
  }

  h1 {
    font-size: $primary-font-size;
    color: $primary-color;
    font-weight: 800;
    line-height: 1;
    cursor: pointer;
    /** Transition **/
    @include transition;
  }

  h3 {
    font-size: $tertiary-font-size;
    font-style: italic;
    color: $primary-color;
  }

}

@media (max-width: 640px) {
  .home-container {
    margin-top: -100px;
    padding: 0px 30px 0px 30px;
  }
}
