// styling home components

.home-container {
  display: flex;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: $primary-font-size;
    color: $primary-color;
    font-weight: bold;
  }

}