/*
About Page CSS
 */


@mixin page-container($background, $text-color) {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;

  h1 {
    font-size: $primary-font-size;
    color: $text-color;
    font-weight: 800;
    line-height: 1;
    cursor: pointer;
    transition: $transition;

  }

  h3 {
    text-align: justify;
    font-size: $quaternary-font-size;
    color: $text-color;
  }

  .cta-container {
    h2 {
      color: $secondary-color;
      transition: $transition;
    }

    h2::after {
      content: url("../../images/arrow-right.svg");
      color: $secondary-color;
      border-top: 10px solid #ffffff;
    }
  }
}

.page-container-primary{
  @include page-container($primary-color, $secondary-color);
}

.page-container-secondary {
  @include page-container($secondary-color, $primary-color);
}