body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
Homepage CSS
 */


.home-wrapper{
  padding: 10px;
  height: 100vh;
  background: #ff2400;
}

.scarlet-heading{
    font-size: 55px;
    font-weight: bold;
}

.scarlet-heading-alt{
    font-size: 55px;
    font-weight: bold;
    color: #fff;
}

.scarlet-subheading{
    font-size: 21px;
    font-weight: normal;
}

.scarlet-content{
    font-size: 21px;
    font-weight: normal;
}

.home-wrapper .scarlet-content{
    color: #fff;
    text-align: left;
    opacity: 0.5;
}

.home-wrapper .scarlet-content:hover {
    color: #fff;
    text-align: left;
    opacity: 1;
    transition: all 0.3s;
}

.home-wrapper .scarlet-subheading{
    color: #fff;
    font-weight: normal;
    text-align: left;
    opacity: 1;
}

.home-inner-container {
    padding: 100px;

}


@media only screen and (max-width: 1000px) {
    .home-inner-container {
        padding: 100px 20px 100px 20px;
    }
}
